.myTitle {
    display: flex;
    justify-content: center;
}

.dateEntry {
    display: flex;
    justify-content: center;
}

.formEntry {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    border: 1px solid black;
    margin: 2em;
    font-size: 18pt;
}

.entryBox {
    width: 450px;
    height: 125px;
    justify-content: flex-start;
}